.button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  align-items: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  justify-content: center;
  outline: none;
  padding: 15px;
}