.remote-video {
  &__container {
    height: 100%;
    width: 100%;
    display: flex;
  }

  &__feed {
    width: 100%;
    max-height: 100vh;
    object-fit: contain;
    aspect-ratio: auto;
  }

  &__label {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    top: 5px;
    color: white;
    font-size: 0.8em;
    font-weight: 500;
    left: 5px;
    padding: 2px 4px;
    position: absolute;
  }
}
