.remote-video {
  &__container {
    background: #000;
    // aspect-ratio: auto 16 / 9;
    height: 100%;
    width: 100%;
    display: flex;

    //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    //border: 2px solid transparent;
    //transition: border-color 0.2s ease, box-shadow 0.2s ease;
    //
    //&--speaking {
    //  border-color: #2196f3;
    //  box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.3), 0 2px 8px rgba(0, 0, 0, 0.3);
    //}
  }

  &__feed {
    width: 100%;
    max-height: 100vh;
    object-fit: contain;
  }

  &__label {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    top: 5px;
    color: white;
    font-size: 0.8em;
    font-weight: 500;
    left: 5px;
    padding: 2px 4px;
    position: absolute;
  }
}
