.icon-button {
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 15px;
  outline: none;

  svg {
    height: 1.5em;
    width: 1.5em;
  }
}