$background-color-on: #444;
$icon-color-on: #fff;

$background-color-off: #a32020;
$icon-color-off: #fff;

$color-disabled: #a5a5a5;

$controls-background: #333;

.controls {
  background-color: $controls-background;
  border-radius: 10px;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  left: 50%;
  max-width: 400px;
  min-width: 300px;
  padding: 10px;
  position: absolute;
  transform: translateX(-50%);
  width: calc(100% - 20px);

  &__left {
    display: flex;
    gap: 10px;
  }

  &__right {
    display: flex;
  }

  &__mic-button {
    background-color: $background-color-on;
    color: $icon-color-on;

    &--off {
      background-color: $background-color-off;
      color: $icon-color-off;
    }

    &--disabled {
      background-color: $color-disabled;
    }
  }

  &__video-button {
    background-color: $background-color-on;
    color: $icon-color-on;

    &--off {
      background-color: $background-color-off;
      color: $icon-color-off;
    }

    &--disabled {
      background-color: $color-disabled;
    }
  }

  &__leave-button {
    background-color: $background-color-off;
    color: $icon-color-off;
    width: 80px;
  }
}