@use "../../styles/colors.scss" as colors;

$create-button-color: #23ad23;
$join-button-color: #3367a9;

.landing-page {
  align-items: center;
  background: colors.$background-primary;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  min-height: 100vh;
  padding: 10px;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background: colors.$background-secondary;
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
  }

  &__button {
    text-transform: uppercase;
    color: #fff;
  }

  &__create-button {
    background-color: $create-button-color;
  }

  &__join-button {
    background-color: $join-button-color;
  }
}
